/* fonts */
@font-face {
  font-family: 'WorkSans';
  src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf');
}

:root {
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'WorkSans';
}

.visibility {
  display: none;
}

main {
  background-color: var(--light-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100lvh;
  position: relative;
}
main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url('./assets/images/background-pattern-desktop.svg');
  width: 100%;
  height: 370px;
  z-index: 1;
}

article {
  background-color: #fff;
  max-width: 550px;
  padding: 30px;
  border-radius: 15px;
  z-index: 999;
}

article header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}

article header h1 {
  margin: 0;
  font-size: 40px;
  color: hsl(292, 42%, 14%);
}

article header img {
  width: 28px;
}

article section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

article section div {
  transition: .5s;

}

article section div:first-child .title::after {
  background: url('./assets/images/icon-minus.svg');
}

article section div:first-child .visibility {
  display: block;
}

article section .title {
  position: relative;
  transition: .5s;
}

article section .title::after {
  content: '';
  background: url('./assets/images/icon-plus.svg');
  position: absolute;
  top: -6px;
  right: 0;
  width: 30px;
  height: 30px;
}

article section .title {
  font-weight: 700;
}

article section div:hover .visibility {
  display: block;
}

article section div:hover .title::after {
  background: url('./assets/images/icon-minus.svg');
}

@media (min-width:300px) and (max-width:992px) {
  article {
    width: 380px;
  }
  article .title {
    text-wrap: balance;
  }
}